 /*Green Color #59ab02 */

.btn:focus, .subscribe-btn, .progress .progress-bar, .accordionMod .panel-heading .current, #current:after, .tp-leftarrow.default:hover,.tp-rightarrow.default:hover, .nivo-prevNav:hover, .nivo-nextNav:hover, .contact-box:hover, #options li a.selected, .ch-info .ch-info-back {
    background: #59ab02;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pager li > a:hover, .pager li > a:focus, .navbar-toggle i, .cn-wrapper li a, .cn-wrapper:after {
    background-color: #59ab02;
    color: #fff;
}

.spinner {
    border-top-color: #59ab02;
}

.hero {
    border-left-color: #59ab02;
}

#options li a.selected {
	border: 1px solid #59ab02;
}

.ie8 .btn-color, .ie9 .btn-color {
	background: #59ab02 !important;
}

.ie8 .btn-color:hover, .ie9 .btn-color:hover {
	background: #82dc23 !important;
}

.btn-color:hover, .subscribe-btn:hover {
	background: -webkit-linear-gradient(#82dc23,#59ab02);
	background: -moz-linear-gradient(#82dc23,#59ab02);
	background: -o-linear-gradient(#82dc23,#59ab02);
	background: -ms-linear-gradient(#82dc23,#59ab02);
	background: linear-gradient(#82dc23,#59ab02);
}

.btn-color, .subscribe-btn {
	background: -webkit-linear-gradient(#59ab02,#82dc23);
	background: -moz-linear-gradient(#59ab02,#82dc23);
	background: -o-linear-gradient(#59ab02,#82dc23);
	background: -ms-linear-gradient(#59ab02,#82dc23);
	background: linear-gradient(#59ab02,#82dc23);
	border: 1px solid #6b9c36;

	-webkit-box-shadow: inset 0 1px 1px 0 #a7df6b, 0 2px 0 -1px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 1px 0 #a7df6b, 0 2px 0 -1px rgba(0,0,0,0.2);
	cursor: pointer;
}


#current,.menu ul li a:hover,.menu ul>li:hover>a {
    border-bottom: 3px solid #59ab02;
}

ul.why li:before {
    background: #59ab02;
}

.menu ul ul {
    border-top: 3px solid #59ab02 !important;
}

#horizontal-tabs ul.tabs li.current {
    border-top: 2px solid #59ab02;
}

#vertical-tabs ul.tabs li.current {
    border-left: 2px solid #59ab02;
}


.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {
	border-bottom-color:#59ab02;
}

a, .post-item h4 a:hover, .cn-wrapper li a:hover, .cn-wrapper li a.active, .color {
    color: #59ab02;
}

.menu ul>li>a {
	color: #323B44;
}
#header .main-header {
	background-color: white;
}

#current, .menu ul li a:hover, .menu ul>li:hover>a {
	background-color: #f0f0f0;
}

/*.menu ul>li>a:hover{
 	background: -webkit-linear-gradient(#82dc23,#59ab02);
	background: -moz-linear-gradient(#82dc23,#59ab02);
	background: -o-linear-gradient(#82dc23,#59ab02);
	background: -ms-linear-gradient(#82dc23,#59ab02);
	background: linear-gradient(#82dc23,#59ab02);
 }*/

 .menu ul ul li a {
 	color: #323B44;
 	background-color: #f0f0f0;
 }

 .menu ul ul li a:hover{
 	background: -webkit-linear-gradient(#82dc23,#59ab02);
	background: -moz-linear-gradient(#82dc23,#59ab02);
	background: -o-linear-gradient(#82dc23,#59ab02);
	background: -ms-linear-gradient(#82dc23,#59ab02);
	background: linear-gradient(#82dc23,#59ab02);
 }
 .menu ul ul li {
	border-top: 1px solid #D7D7D7;
}

.menu ul ul li a {
	-webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
header .top-bar a{
	color: rgb(114, 114, 114);
}
header .top-bar {
	border-bottom: 1px solid #eee;
	background: #fff;
}
.our-clients{
	background: white !important;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 60px 0;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f8f8f8),to(#fafafa));
	background: -webkit-linear-gradient(top,#f8f8f8,#fafafa);
	background: -moz-linear-gradient(top,#f8f8f8,#fafafa);
	background: -ms-linear-gradient(top,#f8f8f8,#fafafa);
	background: -o-linear-gradient(top,#f8f8f8,#fafafa);
}
.our-clients h3.title {
	color: rgb(114, 114, 114);
}

h3.title { 
	color: #59ab02;

}

nav.menu {
	background: white;
/*	background: -webkit-linear-gradient(#82dc23,#59ab02);
	background: -moz-linear-gradient(#82dc23,#59ab02);
	background: -o-linear-gradient(#82dc23,#59ab02);
	background: -ms-linear-gradient(#82dc23,#59ab02);
	background: linear-gradient(#82dc23*/,#59ab02);
}
.menu ul>li>a { 
	color: #323B44;
	font-size: 16px;

}
.menu > ul li {
	border: 1px solid #e5e5e5;
	border-top: none;
	border-bottom: none;
	border-right: none;
}
.menu > ul li:last-child {
	border-right: 1px solid #e5e5e5;
}
.sfHover a {
	color: black !important;
}
.menu ul>li>a:hover {
	background-color: #f0f0f0 !important;
	color: white;
}
#current {
	color: #59ab02;
}
.navbar-nav i {color: #323B44;}
.menu ul ul {
	width:145px;
}

.sfHover i {
	color: black !important;
}
.display{display:none !important}

.footer-two {text-align: center;}

.footer-three {text-align: center;}

.open > .dropdown-menu {
	z-index: 1000000;
}
.user {
	padding: 3px 15px !important;
}

/*.service-reasons {
	background: url(../../img/bg.jpg) 50% 0 no-repeat fixed;
}
*/
.s-bc {
	float: left;
	width: 30%;
	height: 200px;
	margin-right: 20px;
	vertical-align: middle;
}
.content-box-info img{
	height: 200px;
}
.content-box-info h1 {
	font-size: 16px;
	font-weight: bold;
}
.service-reasons { 
	padding-top: 0
}
.cn-content p img {
	height: 240px;
	width: 100%;
}
.cn-content h4 {
	color: #59ab02;
	/*font-weight: bold;*/
}
.ch-info-back {
	background: none !important;
}
.ch-info-front {
	background-color: rgb(89, 171, 2) !important;
}
.sidebar {
	height: 500px;
	background: #f8f8f8;
	margin-top: -60px;
	padding-top: 80px;
	padding-left: 0;
	padding-right: 0;
	width: 220px;
}

.widget.category ul li {
	display: block;
	height: 52px;
	line-height: 52px;
	cursor: pointer;
	border-bottom: 1px solid #cfcfcf;
	transition: all 0.5s ease 0s;
}
.widget.category ul li {
	margin-bottom: 0;
	text-align: center;
}
.white {
	color: #fff !important ;
}
.sidebar ul.slide li:hover {
	background: -webkit-linear-gradient(#82dc23,#59ab02);
	background: -moz-linear-gradient(#82dc23,#59ab02);
	background: -o-linear-gradient(#82dc23,#59ab02);
	background: -ms-linear-gradient(#82dc23,#59ab02);
	background: linear-gradient(#82dc23,#59ab02);
	color: #fff !important ;
}

@media screen and (max-width: 400px) {
  .sidebar {
  	display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) { 
	.sidebar {
  	display: none;
  }

}
.post-image {
	float: left;
	width: 35%;
	margin-right: 20px;
}
























/* ----------------集团新闻--------------- */
.bg_banner{height:176px;background:url(../images/stepInSibu/news/bg_banner.png) center 0px no-repeat;width:100%;}
.jtxw_conbox{width:1062px;overflow:hidden;margin:0 auto;}
.jtxw_asidel{width:220px;height:500px;background:#F8F8F8;float:left;}

.jtxw_asidel_ul{margin-top:38px;}
.jtxw_asidel_ul li{width:220px;height:52px;border-bottom:1px solid #CFCFCF;color:#666;line-height:52px;text-indent:137px;transition: all 0.5s ease 0s;}
.jtxw_asidel_ul li:hover{cursor:pointer;}
.jtxw_asidel_ul li a{display:block;height:100%;width:100%;color:#666;}

.jt_click{background:url(../images/stepInSibu/news/bg_li1.jpg);color:#fff !important;}
.jt_hover{background-image:none;background-color:#e55964;color:#fff !important;}


.jtxw_asider{width:820px;float:right;min-height:600px;padding-bottom:20px;}
.gg_pos{font-size:16px;color:#eb0000;height:70px;line-height:70px;background:url(../images/stepInSibu/gonggao/pos.png) left center no-repeat;padding-left:40px;}
.gg_pos a{font-size:16px;color:#868f98;}
.gg_pos span{margin:0 5px;color:#eb0000;}
.jtxw_asider_top{width:820px;height:112px;border-bottom:1px solid #CCCCCC;background:#fff url(../images/stepInSibu/news/bg_asidertop.png)  0px 2px no-repeat;}
div.story{background:#fff url(../images/stepInSibu/news/stories02.jpg)  0px 2px no-repeat;}
.jtxw_asider_con{width:auto;margin:10px 0 20px 0;}
.jtxw_asider_conl{width:100%;}
.jtxw_title{height:271px;background:#f5f5f5;margin:40px 0 54px 0;overflow:hidden;}
.jtxw_title_l{float:left;height:271px;width:339px;overflow:hidden;}
.jtxw_title_r{float:right;width:375px;height:271px;}
.jtxw_title_r h5{color:#eb0000;font-size:16px;margin:55px 55px 50px 25px;}
.jtxw_title_r p{font-size:14px;color:#868f98;text-indent:2em;margin:0 50px 0 12px;line-height:25px;}
.jtxw_title_r a{color:#f58080;display:block;margin:20px 48px 0 38px;text-align:right;}
.jtxw_title_l img{height:271px;width:339px;}

.jtxw_asider_conltop{width:700px;height:85px;border-bottom:1px dashed #CCCCCC;}
.jtxw_asider_conltop .figcaption{height:42px;line-height:42px;font-size:16px;color:#eb0000;margin-top:10px;}
.jtxw_asider_conltopt{font-size:12px;color:#808080;}
.jtxw_asider_conlcon{width:700px;}
.jtxw_asider_conlimg{margin:10px 0 0 60px;}
.jtxw_asider_conlcont{width:100%;padding:20px 0px 40px 0px;}
.jtxw_asider_conlcont  .p1{font-size:12px;color:#868f98;text-indent:2em;line-height:24px;}
.jtxw_asider_conlcont  .p_t{color:#af8f75;text-align:center;margin:line-height:32px;margin-bottom:15px;}
.jtxw_asider_conlcont p{font-size:14px;color:#868f98;text-indent:2em;line-height:24px;text-align:justify;}
.jtxw_asider_conlcont p a{color:#868f98;font-size:14px;}
.jtxw_asider_conlcont p:first-of-type{color:#af8f75;text-align:center;margin:line-height:32px;margin-bottom:15px;}

.time_hover{background:#f5f5f5;}
.time_current{background:#E0E0E0 url(../images/stepInSibu/news/bg_tou.png) 8px center no-repeat;}

.jtxw_asider_conru .jtxw_asider_conrutit{width:82px;padding-left:138px;}
.jtxw_h2_01{background:#f5f5f5;height:50px;line-height:50px;text-indent:140px;}
.jtxw_asider_time{color:#f61f42;}


.jtxw_asider_connews li{width:800px;height:26px;line-height:26px;padding-left:20px;}
.jtxw_s1{width:6px;height:6px;border-radius:6px;background:#59ab02;display:inline-block;margin-right:4px;}
.jtxw_s2{font-size:12px;color:#957556;margin-right:4px;}
.jtxw_s3{font-size:12px !important;color:#868f98 !important;}

.jtxw_p2{height:50px;line-height:50px;margin-top:30px;padding-left:5px;background:#fff;position:relative;}
.jtxw_p2 span{float:left;}
.div_month{float:right;display:block;width:80px;height:30px;background:#e9eef1 url(../images/stepInSibu/news/ul_down_bg.png) 60px center no-repeat;text-indent:20px;line-height:30px;margin-top:10px;color:#868f98;cursor:pointer;}
.div_month:hover{background:#f2f1ee url(../images/stepInSibu/news/ul_down_bg.png) 60px center no-repeat;}
.s_year_n{font-size:36px;font-weight:bold;color:#eb0000;}
.s_year_n a{color:#eb0000;}
.s_text{font-size:24px;color:#eb0000;}
.ul_month{position:absolute;right:0;width:80px;top:40px;z-index:10;display:none;}
.ul_month li{height:30px;line-height:30px;text-indent:20px;background:#f2f1ee;width:80px;padding:0;color:#868f98;cursor:pointer;transition:all 0.5s ease 0s;}
ul.ul_month li:hover{background:#eb0000;color:#fff;}
.ul_month li a{color:#868f98; width:100%; display:block;}

.div_year{height:30px;background:#fff;width:100%;padding-bottom:4px;position:relative;}
.div_year div{width:80px;height:30px;background:#e9eef1 url(../images/stepInSibu/news/ul_down_bg.png) 60px center no-repeat;line-height:30px;text-indent:20px;color:#868f98;cursor:pointer;}
.div_year div:hover{background:#f2f1ee url(../images/stepInSibu/news/ul_down_bg.png) 60px center no-repeat;}
ul.ul_year{position:absolute;width:80px;left:0;height:60px;top:30px;z-index:10;display:none;}

ul.ul_year li{width:100%;height:30px;line-height:30px;text-indent:20px;background:#f2f1ee;cursor:pointer;padding:0;color:#868f98;transition:all 0.5s ease 0s;}
ul.ul_year li:hover{background:#eb0000;color:#fff;}
ul.ul_year li a{color:#868f98; width:100%; display:block;}

.jtxw_asider_connews{width:100%;background:#F5F5F5;padding-bottom:18px;margin-bottom:20px;}
.jtxw_p1{height:40px;background:#E9EEF1;line-height:40px;padding-left:26px;color:#4e4e4e;position:relative;}
.jtxw_p1 span{color:#59ab02;font-size:24px;}
.jtxw_p1 a{position:absolute;top:5px;right:5px;display:block;width:80px;height:30px;color:#fff;background:#a7c1d0;text-align:center;line-height:30px;font-size:14px;}
.jtxw_p1 a:hover{background:#eb0000;}
.jtxw_p1 a:active{background:#d30000;}

.news_n{padding:10px 0 10px 10px;border-top:1px #cccccc solid;color:#868f98;font-size: 14px;height: 60px;}
.news_n a{display:block;color:#868f98;line-height:30px;font-size:14px;}
.news_n *{float:left;}
.news_n span{display: block;line-height: 30px;width: 60px;}
.news_n span.s_pre,.news_n span.s_next{width:90px;}

.jtxw_cy_con{width:auto;margin:10px 0 20px 0;}
.jtxw_title_cy{width:818px;height:424px;border:1px #e5e5e5 solid;margin:40px 0 34px 0;background:#f5f5f5;}
.story_l{float:left;width:580px;height:380px;overflow:hidden;margin:22px 0 0 18px;}
.story_r{float:right;width:190px;height:380px;margin:22px 14px 0 0;}
.story_r h4{font-size:16px;color:#96775c;font-weight:bold;line-height:26px;height:52px;overflow:hidden;margin:20px 0 5px 0;}
.p_data{text-indent:30px;background:url(../images/stepInSibu/news/story_p_bg.jpg) no-repeat;height:17px;padding-bottom:10px;border-bottom:1px #e6e6e6 solid;color:#868f98;margin-bottom:20px;}
.p_con{text-indent:2em;color:#868f98;line-height:20px;}
.a_more{float:right;font-size:12px;color:#eb0000;}